* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", arial;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f2937;
}

.logo img {
  width: 7%;
  height: 7%;
  padding: 0px 0px 0px 90px;
}

.nav-menu {
  display: flex;
  margin-left: auto;
  padding-right: 100px;
}

.nav-menu a {
  margin-left: auto;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 15px;
}

/* title */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid gold 0.5px;
  padding: 90px;
  background-color: #1f2937;
}

.typograph {
  display: flex;
  flex-basis: 500px;
  flex-direction: column;
  padding: 0px 72px 0px 0px;
  color: aliceblue;
}

.typograph h1 {
  padding: 0px 72px 10px 0px;
}

.typograph button {
  display: block;
  background: #3882f6;
  border: none;
  border-radius: 8px;
  width: 110px;
  height: 30px;
  margin-top: 10px;
  color: aliceblue;
}

.main-img {
  object-fit: cover;
  flex: 1 1 auto;
  max-width: 500px;
}

/* Gallery */

.gallery {
    text-align: center;
    padding: 50px 40px;
}

.gallery h1 {
  display: block;
  text-align: center;
}

.canvas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.canvas img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
}


/* Testimony */

section.testimonials {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  align-items: center;
  text-align: center;
  padding: 30px 50px 30px 50px;
}

.text p {
  font-size: 36px;
  font-family: "Roboto", arial;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 30px;
}

/* Subscribe */

.subs-box {
  background-color: #3882f6;
  height: 100px;
  margin: 50px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: none;
}

.subs {
    margin: 40px 40px 40px 40px;
}

.subs-button button {
  color: #fff;
  background-color: #3882f6;
  padding: 5px 25px;
}

/* Footer */

.footer {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
}
