*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
}

.logo img {
    width: 7%;
    height: 7%;
    padding: 0px 0px 0px 90px;
}

.nav-menu {
    display: flex;
    margin-left: auto;
    padding-right: 100px;
}

.nav-menu a {
    margin-left: auto;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 15px;
}

/* title */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid gold 0.5px;
    padding: 90px;
    background-color: #1F2937;
}

.typograph {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    padding: 0px 72px 0px 0px;
    color: aliceblue;
}

.typograph h1 {
    padding: 0px 72px 10px 0px;
}

.typograph button {
    display: block;
    background: #3882f6;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 30px;
    margin-top: 10px;
    color: aliceblue;
}

.main-img {
    object-fit: cover;
    flex: 1 1 auto;
    max-width: 500px;
}

/* Gallery */

.gallery {
    align-items: center;
}

.gallery h1 {
    display: block;
    text-align: center;
}

.canvas {
    display: flex;
}

.canvas img {
    width: 200px;
    height: 200px;
}